---
import "../styles/global.css";
---

<header class="sticky z-20 top-0 text-white bg-[#011627]">
  <nav
    class="flex container md:mx-auto md:p-10 px-4 py-2 items-center justify-between"
  >
    <a class="flex items-center gap-2" href="/">
      <p class="p-2 rounded-xl text-3xl">VigneshSE</p>
    </a>
    <ul class="items-center md:gap-5 text-nowrap hidden md:flex">
      <li class="text-lg px-5 py-2 rounded-lg hover:underline">
        <a href=""> About </a>
      </li>
      <li class="text-lg px-5 py-2 rounded-lg hover:underline">
        <a href=""> Projects </a>
      </li>
      <li class="text-lg px-5 py-2 rounded-lg hover:underline">
        <a href=""> Blog </a>
      </li>
      <li class="text-lg px-5 py-2 rounded-lg hover:underline">
        <a href=""> Contact </a>
      </li>
      <li class="text-lg px-5 py-2 rounded-lg hover:underline">
        <a href=""> Resume </a>
      </li>
    </ul>
  </nav>
</header>
