---
import "../styles/global.css";
---

<header class="sticky z-20 top-0">
  <nav
    class="flex container md:mx-auto md:p-10 px-4 py-6 items-center justify-between"
  >
    <a class="flex items-center gap-2" href="/">
      <p class="text-black p-2 rounded-xl text-3xl">Vigneshwaran Mariyappan</p>
    </a>
    <ul class="items-center md:gap-5 text-nowrap hidden md:flex">
      <li class="text-black text-lg px-5 py-2 rounded-lg hover:bg-yellow-100">
        <a href=""> Home </a>
      </li>
      <li class="text-black text-lg px-5 py-2 rounded-lg hover:bg-blue-100">
        <a href=""> About </a>
      </li>
      <li class="text-black text-lg px-5 py-2 rounded-lg hover:bg-blue-100">
        <a href=""> Projects </a>
      </li>
      <li class="text-black text-lg px-5 py-2 rounded-lg hover:bg-blue-100">
        <a href=""> Blog </a>
      </li>
      <li class="text-black text-lg px-5 py-2 rounded-lg hover:bg-blue-100">
        <a href=""> Contact </a>
      </li>
      <li class="text-black text-lg px-5 py-2 rounded-lg hover:bg-blue-100">
        <a href=""> Resume </a>
      </li>
    </ul>
  </nav>
</header>
