---
import "../styles/global.css";
import Header from "./Header.astro";
---

<div id="container">
  <Header />
  <main class="container mx-auto md:px-10 mt-10">
    <section class="flex py-20 px-4">
      <div class="flex flex-col gap-5">
        <h1 class="text-6xl font-bold max-sm:text-2xl">Software Engineer</h1>
        <p class="text-pblack text-2xl">Backend, Data, Devops, AI</p>
      </div>
      <div></div>
    </section>
  </main>
</div>

<style>
  #container {
    background-color: #f2f2f2;
    height: 100%;
  }
</style>
